.footer {
  display: flex;
  border-top: 1px solid $color-border;
  background-color: $background-secondary;
  padding-top: 24px;
  padding-bottom: 24px;
}

.footer__wrapper {
  @include page-wrapper;
  display: flex;
  width: ($desktop-width + ($padding-desktop * 2));
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.footer__logo {
  margin-right: 48px;
}
