.page {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100%;
}

.page__header {
  width: 100%;
}

.page__main {
  width: ($desktop-width + ($padding-desktop * 2));
}

.page__footer {
  width: 100%;
}
